In [33]:
import requests

url = "https://yfapi.net/v8/finance/chart/AAPL"

querystring = {
    "interval":"1d",
    "range":"6mo"
}

headers = {
    'x-api-key': "WCalhn6WE71vnk9J7sGCJ3ABJ0YmCKGr1TJmpG3C"
}

response = requests.request("GET",url,headers=headers,params=querystring)

In [61]:
import json
import numpy as np
import pandas as pd
dictionary = json.loads(response.text)
result = dictionary['chart']['result'][0]
selected_data = {key: result[key] for key in ['timestamp','indicators']}

timestamp = selected_data['timestamp']
high = selected_data['indicators']['quote'][0]['high']
volume = selected_data['indicators']['quote'][0]['volume']
open = selected_data['indicators']['quote'][0]['open']
low = selected_data['indicators']['quote'][0]['low']
close = selected_data['indicators']['quote'][0]['close']

datetime_arr = np.array(timestamp, dtype='datetime64[s]')

df = pd.DataFrame({
    'timestamp':datetime_arr,
    'open':open,
    'high':high,
    'low':low,
    'close':close,
    'volume':volume
})

display(df)

,timestamp,open,high,low,close,volume
0,2024-02-26 14:30:00,182.240005,182.759995,180.649994,181.160004,40867400
1,2024-02-27 14:30:00,181.100006,183.919998,179.559998,182.630005,54318900
2,2024-02-28 14:30:00,182.509995,183.119995,180.130005,181.419998,48953900
3,2024-02-29 14:30:00,181.270004,182.570007,179.529999,180.750000,136682600
4,2024-03-01 14:30:00,179.550003,180.529999,177.380005,179.660004,73488000
...,...,...,...,...,...,...
121,2024-08-19 13:30:00,225.720001,225.990005,223.039993,225.889999,40687800
122,2024-08-20 13:30:00,225.770004,227.169998,225.449997,226.509995,30299000
123,2024-08-21 13:30:00,226.520004,227.979996,225.050003,226.399994,34765500
124,2024-08-22 13:30:00,227.789993,228.339996,223.899994,224.529999,43695300
125,2024-08-23 13:30:00,225.660004,228.220001,224.330002,226.839996,38629400

### other

In [ ]:
from IPython.display import display, Markdown
import json
dictionary = json.loads(response.text)
results = dictionary['quoteResponse']['result']
for result in results:
    selected_data = {key: result[key] for key in ['symbol','regularMarketPrice', 'regularMarketOpen', 'regularMarketPreviousClose']}
    print(selected_data)

# formatted = json.dumps(dictionary, indent=4)
# print(formatted)

In [23]:
from IPython.display import display, Markdown
import json
dictionary = json.loads(response.text)
results = dictionary['quoteResponse']['result']
for result in results:
    selected_data = {key: result[key] for key in ['symbol','regularMarketPrice', 'regularMarketOpen', 'regularMarketPreviousClose']}
    print(selected_data)

# formatted = json.dumps(dictionary, indent=4)
# print(formatted)

{'symbol': 'AAPL', 'regularMarketPrice': 226.84, 'regularMarketOpen': 225.6589, 'regularMarketPreviousClose': 224.53}